@import 'mixins/colours';
:global(html) {
  margin: 0;
}

:global(body) {
  margin: 0;
}

:global(h1) {
  margin: 0;
}
:global(h2) {
  margin: 0;
}
:global(h3) {
  margin: 0;
}
:global(p) {
  margin: 0;
}

:global(*) {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: $colour-text-main;
  box-sizing: border-box;
}
